body{
  background-color: silver
}
.qw a{
  text-decoration: none;
  color:#404040;
  margin-left: 100px;
  border-top: 100px;
  font-size: 20px;
  text-align:center;
  position:relative;
  top:30px
}
.qw a:hover{
  color:black;
}
.qw button{
  background-color: #4CAF50;
 border: none;
 color: white;
 padding: 15px 32px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
 margin: 4px 2px;
 cursor: pointer;
 border-radius: 10px;
 margin-left: 1320px
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin-left: 30px;
  margin-top: 60px;
  margin-bottom: -300px;
  text-align: center;
  font-family: arial;
  border-radius: 10px;
}
.card img{
width:100%;
border-radius: 10px
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  border-radius: 10px;
}

.card button:hover {
  opacity: 0.7;
}
.card1{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin-left: 400px;
  margin-top: -475px;
  text-align: center;
  font-family: arial;
  margin-bottom: 300px;
  border-radius: 10px;
}
.card1 img{
width:100%;
height:100%;
border-radius: 10px;
}

.price1{
  color: grey;
  font-size: 22px;

}
.card1 h1{
  padding-top: 20px
}
.card1 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  border-radius: 10px;
}

.card1 button:hover {
  opacity: 0.7;
}
.card2{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  max-height:100%;
  margin-left: 800px;
  margin-top: -760px;
  text-align: center;
  font-family: arial;
  margin-bottom: 300px;
  border-radius: 10px
}
.card2 img{
width:100%;
  border-radius: 10px;
padding-bottom: 50px;

}

.price2{
  color: grey;
  font-size: 22px;

}

.card2 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  border-radius: 10px;
}

.card2 button:hover {
  opacity: 0.7;
}
.card3{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin-left: 1200px;
  margin-top: -750px;
  text-align: center;
  font-family: arial;
  margin-bottom: 300px;
  border-radius: 10px
}
.card3 img{
width:100%;
height: 40%;
  border-radius: 10px;
  padding-bottom: 40px;
  border-radius: 10px
}

.price3{
  color: grey;
  font-size: 22px;
}

.card3 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  border-radius: 10px;
}

.card3 button:hover {
  opacity: 0.7;
}
.card4{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin-left: 30px;
  margin-top: -150px;
  text-align: center;
  font-family: arial;
  margin-bottom: 300px;
  border-radius: 10px
}
.card4 img{
width:100%;
height: 40%;
  border-radius: 10px
}

.price4{
  color: grey;
  font-size: 22px;
}

.card4 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  border-radius: 10px;
}

.card4 button:hover {
  opacity: 0.7;
}
.card5{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin-left: 400px;
  margin-top: -760px;
  text-align: center;
  font-family: arial;
  margin-bottom: 300px;
  border-radius: 10px
}
.card5 img{
width:100%;
height: 40%;
  border-radius: 10px;
  padding-bottom: 20px
}

.price5{
  color: grey;
  font-size: 22px;
}

.card5 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  border-radius: 10px;
}

.card5 button:hover {
  opacity: 0.7;
}
.card6{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin-left: 800px;
  margin-top: -750px;
  text-align: center;
  font-family: arial;
  margin-bottom: 300px;
  border-radius: 10px
}
.card6 img{
width:100%;

  border-radius: 10px;
  padding-bottom: 10px
}

.price6{
  color: grey;
  font-size: 22px;
}

.card6 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  border-radius: 10px;
}

.card6 button:hover {
  opacity: 0.7;
}
.card7{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin-left: 1200px;
  margin-top: -740px;
  text-align: center;
  font-family: arial;
  margin-bottom: 300px;
  border-radius: 10px;
}
.card7 img{
width:100%;
height: 40%;
  border-radius: 10px;

}

.price7{
  color: grey;
  font-size: 22px;
  padding-top: 10px
}

.card7 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  border-radius: 10px;
}

.card7 button:hover {
  opacity: 0.7;
}
.io{
  height: 200px;
  background-color: black;
 margin-top: -150px;
width:100%;
}
.io a{
  color:white;
  font-size: 30px;
text-decoration:none;
margin-left: 150px;
position: relative;
top:80px
}
.io p{
  font-size: 20px;
  margin-top: 130px;
  text-align:center;
  color: white;

}
